---
const target = "https://authornetwork.netlify.app";
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`2; url=${target}`} />
    <title>I developed a project to see academic authors in a graph.</title>
  </head>
  <body class="bg-base-200 text-center flex flex-col justify-center items-center h-screen">
    <h1 class="text-2xl font-bold mb-4">This project is deployed on Netlify, so going there now...</h1>
    <p class="text-base text-gray-600">
      If you are not redirected automatically, 
      <a class="text-blue-500 underline" href={target}>click here</a>.
    </p>
  </body>
</html>